body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

/* header css start */
.header-section {
  background-color: #1A0B2E;
  padding: 30px 0;
}

.row {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 220px;
  height: 32px;
}

.header-nav {
  display: flex;
  gap: 32px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.header-nav li {
  display: inline-block;
}

.header-nav li a {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
}

.header-nav li a:before {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.header-nav li a:hover:before {
  width: 100%;
}

.header-button {
  border-radius: 100px;
  background: linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1));
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  transition: all 0.3s ease;
}

.header-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  div#hamburgerBtn {
    display: none;
  }
}

@media screen and (max-width: 767px) {

  .h-column-2,
  .h-column-3 {
    display: none;
  }

  .header-logo {
    width: 170px;
    height: auto;
  }
}
/* header css end */