body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

button {
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: #fff;
}

.primary-button {
  border-radius: 100px;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: center;
  transition: all 0.3s ease;
  color: #ffffff !important;
}

.primary-button:hover {
  opacity: 0.8;
}

/* header css start */
.header-section {
  background-color: #1a0b2e;
  padding: 30px 0;
}

.row {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 220px;
  height: 32px;
}

.header-nav {
  display: flex;
  gap: 32px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.header-nav li {
  display: inline-block;
}

.header-nav li a {
  text-decoration: none;
  color: #fff;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
}

.header-nav li a:before {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.header-nav li a:hover:before {
  width: 100%;
}

@media screen and (min-width: 768px) {
  div#hamburgerBtn {
    display: none;
  }
}

/* akhane 767px use kora hoiche karon akane header ta ai screen projonto thik thake */
@media screen and (max-width: 767px) {
  .h-column-2,
  .h-column-3 {
    display: none;
  }

  .header-logo {
    width: 170px;
    height: auto;
  }
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
/* header css end */
/* banner css start */
.banner-section {
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 110px 0;
}

span.new-badge {
  padding: 8px 16px;
  background-color: #00ff88;
  border-radius: 100px;
  box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
  position: absolute;
  right: 45px;
}

.banner-row {
  max-width: 560px;
}

.b-image-container {
  position: relative;
}

img.microphone-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.b-column-1 {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.b-column-2 h1.b-title {
  font-size: 4rem;
  font-weight: 800;
  line-height: 73px;
  color: #fff;
  text-align: center;
}

p.b-description {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  opacity: 0.8;
  margin-top: 10px;
}

button.b-button-2 {
  padding: 12px 20px;
  border-radius: 100px;
  color: #00ff88;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  background: transparent;
  border: 1px solid;
  transition: all 0.3s ease;
}

button.b-button-2:hover {
  background: #00ff88;
  color: #1a0b2e;
  opacity: 0.8;
}

.b-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
}

/* banner css end */
/* about css start */
.about-section {
  background-color: #1a0b2e;
  padding-top: 50px;
  padding-bottom: 120px;
}

.about-title,
h2.why-choose-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 16px;
}

.about-description-1,
.about-description-2 {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
  opacity: 0.8;
}

.about-description-1 {
  margin-bottom: 24px;
}

.about-column-1 {
  padding-bottom: 80px;
  border-bottom: 1px solid rgb(255 255 255 / 10%);
}

.about-column-2 {
  margin-top: 80px;
}

h3.about-statistics-title {
  font-size: 48px;
  font-weight: 900;
  color: #00ff88;
  line-height: 58px;
  text-align: center;
}

p.about-statistics-description {
  line-height: 20px;
  opacity: 0.8;
  text-align: center;
  margin-top: 16px;
}

.about-statistics-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

@media screen and (max-width: 576px) {
  .about-statistics-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* about css end */
/* why choose us css start */
.why-choose-section {
  background: rgba(35, 14, 61, 1);
  padding: 120px 0;
}

.card-items {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.card-item {
  padding: 40px;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  margin: auto;
  transition: all 0.3s ease;
}

.card-item:hover {
  transform: translateY(-10px);
  box-shadow: 0px 3px 27px 0px rgb(85 61 117 / 46%);
}

h3.card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  margin: 16px 0;
}

p.card-description {
  line-height: 24px;
  text-align: left;
  opacity: 0.8;
}

img.card-icon {
  width: 60px;
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-item:nth-child(1) {
  margin: auto;
  grid-column: span 1;
  grid-row: span 2;
}

.card-item:nth-child(2),
.card-item:nth-child(3),
.card-item:nth-child(4) {
  grid-column: span 2;
  grid-row: span 1;
}

.card-item:nth-child(5) {
  grid-column: span 1;
  grid-row: span 1;
}

.card-item {
  width: 100%;
  height: 100%;
}
h2.why-choose-title {
  margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
  .card-items {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }

  .card-item {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }
}

@media screen and (max-width: 576px) {
  .card-item {
    padding: 24px !important;
  }
}

/* why choose us css end */
/* episode css start */
.episode-section {
  background-color: #1a0b2e;
  padding: 120px 0;
}
.episode-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: #fff;
  text-align: center;
}
span.episode-read-time-text {
  color: #fff;
}
